@import "tailwindcss";

.font-audiowide {
  font-family: var(--font-audiowide);
}

.font-bai {
  font-family: var(--font-bai-jamjuree);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-redhat-display {
  font-family: var(--font-red-hat-display);
}

.font-redhat-text {
  font-family: var(--font-red-hat-text);
}

/* Hide scrollbar but keep scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bai-jamjuree), Arial, Helvetica, sans-serif;
}
